@model IEnumerable<Luna.Models.RoomPromotion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                PromotionID
            </th>
            <th>
                RoomTypeID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotion.PromotionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeId)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" asp-route-PromotionId="@item.PromotionId" asp-route-TypeId="@item.TypeId">Edit</a>
                @Html.ActionLink("Detail", "Detail", new { typeID = item.TypeId, promotionID = item.PromotionId })
                <a asp-action="Delete" class="btn btn-danger" asp-route-roomId="@item.PromotionId" asp-route-typeId="@item.TypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
