@model Luna.Areas.Customer.Models.BookingCart;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var checkempty = ViewData["checkemptyroom"];
}
<h2>Your Shopping Cart</h2>
<section>
    <table class="table">
        <thead>
            <tr>
                <th>RoomTypeId</th>
                <th>TypeName</th>
                <th>Price</th>
            @*     <th>Description</th> *@
                <th>Image</th>
                <th>Quantity</th>
              @*   <th>Total</th> *@
                <th>Check-in date</th>
                <th>Check-out date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.items.Count > 0)
            {
                @foreach (var item in Model.items)
                {
                    <tr>
                        <td>@item.TypeId</td>
                        <td>@item.TypeName</td>
                        <td>@($"{item.TypePrice:N0} ₫")</td>
                       @*  <td>@item.Description</td> *@
                        <td><img src="@item.TypeImg" alt="Image" style="width:100px;height:auto;" /></td>
                        <td>
                            
                            <a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="DecreaseSL" asp-route-id="@item.TypeId"> - </a>
                            <input class="cart_quantity_input" value="@item.Quantity" max="@checkempty" size="2">
                            <a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="IncreaseSL" asp-route-id="@item.TypeId"> + </a>
                            <a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.TypeId">Remove</a>
                        </td>
                        @* <td><input type="number" name="quantityInput" id="quantityInput" min="1" max="@item.Quantity"> </td> *@

                        @* <td>@item.Quantity</td> *@
                       @*  <td>@Model.items.Where(x => x.TypeId == @item.TypeId).Sum(x => x.Quantity * x.TypePrice).ToString()</td> *@
                        <td>@item.CheckIn</td>
                        <td>@item.CheckOut</td>
                    </tr>
                  
                }
                <tr>
                    <a class="nav-item nav-link" asp-area="Admin" asp-controller="OrderService" asp-action="Create">OrderService</a>
                </tr>
            }

            else
            {
                <tr>
                    <td>Your Cart is Empty.</td>
                </tr>
            }

        </tbody>
    </table>
</section>
